<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">IG Home</a>
	</li>
	<li>
		<a href="toc.html">Table of Contents</a>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">PQ-CMC Background<b class="caret">
			</b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="Introduction.html">Intro</a>
			</li>
		</ul>
		<li>
			<a href="artifacts.html">Artifact Index</a>
		</li>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
			</b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/>
				</a>
			</li>
			<li>
				<a target="_blank" href="http://hl7.org/fhirpath">FHIRPath Spec <img src="external.png" style="text-align: baseline"/>
				</a>
			</li>
			<li>
				<p>Use Google Chorme or Firefox to open the IG.  If the only browser available is Microsoft Edge, then the Validator Pack can be downloaded only by following thest steps:
				<uf>
				<li>Click Download</li>
				<li>Select open</li>
				<li>When prompted with which application, choose other</li>
				<li>Navigate to iexplore.exe ususally at C:\Program Files\Internet Explorer\</li>
				<li>A save as prompt will appear, then follow instructions.</li>
				</uf></p>
				<!--<a href="Validator.Pack" target="_blank">Download <img src="download.png" style="text-align: baseline"/>-->
				<a target="_blank" href="Validator.Pack" download="Validator.Pack">Download <img src="download.png" style="text-align: baseline"/>
				</a>
			</li>
		</ul>
	</li>
</ul>
